/* CSS Document */
body {
    margin: 0;
    padding: 0;
    font-size: 12px;
}

ul, li, p, dl, dt, dd, h3 {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.clear {
    clear: both;
}

.head_container {
    margin: 0 auto;
}

.head {
    width: 980px;
    margin: 0 auto;
}

.head .logo {
    float: left;
    padding: 30px 0;
}

.head .t {
    background: url(../image/t_bg.gif) 10px center no-repeat;
    height: 35px;
    float: left;
    padding: 30px 10px;
}

.head .t li {
    font-size: 16px;
    color: #777777;
    padding-left: 10px;
}

.head .right {
    width: 270px;
    float: right;
}

.head .right .hd {
    color: #777777;
    padding: 10px 10px 10px 75px;
}

.head .right .hd a {
    color: #777777;
}

.head .right .bd {
    width: 270;
}

.head .right .bd img {
    float: left;
}

.head .right .bd span {
    float: left;
    color: #777777;
    font-size: 6px;
    padding: 10px;
}

.head .right .bd .tel {
    float: left;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 24px;
}

.nav_container {
    background: url(../image/nav_container.gif) repeat-x;
    height: 34px;
}

.nav {
    margin: 0 auto;
    width: 980px;
    background: url(../image/nav_bg.gif) no-repeat;
    height: 34px;
}

.nav a {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 34px;
    display: block;
    height: 34px;
    width: 125px;
    float: left;
    text-align: center;
}

.nav a:hover {
    background: url(../image/a_bg.gif) no-repeat;
    text-decoration: none;
}

.banner {
    width: 980px;
    margin: 0 auto;
    padding: 10px 0;
}

.box {
    width: 980px;
    margin: 0 auto;
}

.box .left {
    width: 230px;
    float: left;
}

.box .left1 {
    width: 230px;
    padding: 20px 0 20px 0;
}

.box .left1 .hd {
    width: 230px;
    height: 30px;
    line-height: 30px;
    background: url(../image/left1-hd_bg.gif) repeat-x;
    border: 1px solid #acacac;
}

.box .left1 .hd h3 {
    padding-left: 10px;
}

.box .left1 .bd {
    width: 231px;
    height: 350px;
    border: 1px solid #acacac;
    border-top: 0;
    padding-bottom: 10px;
}

.box .left1 .bd1 {
    height: 36px;
    line-height: 36px;
    border-bottom: solid 1px #acacac;
    background: #fafafa;
}

.box .left1 .bd1 a {
    color: #4b4b4b;
    padding-left: 20px;
}

.box .left1 .bd1 a:hover {
    color: #FF0000;
    text-decoration: none;
    background: url(../image/jiantou.gif) 10px center no-repeat;
}

.box .left2 {
    width: 231px;
    height: 231px;
    background: #f6f6f6;
    border: 1px solid #acacac;
}

.box .left2 .bd {
    width: 231px;
    margin: 0 auto;
}

.box .left2 .bd .img {
    width: 48px;
    height: 47px;
    float: left;
    padding: 10px;
}

.box .left2 .bd .font {
    float: left;
    padding-top: 10px;
}

.box .left2 .bd .font .tel {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #FF0000;
    font-size: 24px;
}

.box .left2 dl {
    clear: both;
    float: left;
}

.box .left2 dt {
    float: left;
    color: #505050;
    padding: 10px;
}

.box .left2 dd {
    float: left;
    color: #454545;
    width: 130px;
    padding-top: 10px;
}

.box .left2 .web {
    width: 262px;
    padding: 10px;
}

.box .left2 .web1 {
    width: 55px;
    float: left;
    padding-right: 20px;
}

.box .left2 .web1 a {
    color: #000000;
}

.box .right {
    float: right;
    width: 725px;
    height: 980px;
    border: 1px solid #acacac;
    margin-top: 20px;
}

.box .right1 {
    width: 331px;
    float: left;
    padding-left: 15px;
}

.box .right1 img {
    padding: 20px 0 10px 20px;
}

.box .right1 .miaoshu {
    width: 311px;
    height: 35px;
    line-height: 35px;
    color: #FFFFFF;
    background: #bd3e00;
    font-size: 14px;
    margin-left: 20px;
}

.box .right1 .miaoshu a {
    color: #FFFFFF;
}

.box .right1 .bot {
    width: 331px;
    margin: 0 auto;
}

.box .right1 .bot .kankan {
    float: right;
    padding: 15px 0;
}

.box .right1 .bot .kankan a {
    display: block;
    background: url(../image/kankan.gif) no-repeat;
    width: 110px;
    height: 30px;
}

.box .right1 .bot .kankan a:hover {
    background: url(../image/kankan_bg.gif) no-repeat;
}

.box .right1 .bot .bot1 {
    width: 200px;
    float: left;
    padding-left: 20px;
}

.box .right1 .bot .bot1 p {
    color: #393939;
    float: left;
    padding-top: 15px;
}

.box .right1 .bot .bot1 h3 {
    color: #FF0000;
    padding-top: 10px;
    font-family: "微软雅黑";
    font-size: 16px;
}

.box .right1 .bot .bot1 span {
    font-family: "新宋体";
    color: #696868;
    padding-top: 5px;
    display: block;
    text-decoration: line-through;
    float: left;
}

.box1 {
    width: 980px;
    margin: 50px;
    auto;
}

.foot_container {
    background: #303030;
    height: 147px;
}

.foot {
    width: 980px;
    margin: 0 auto;
    font-size: 12px;
    text-align: center;
    padding: 40px 0;
    color: #FFFFFF;
}

.foot a {
    padding: 10px 5px;
    color: #FFFFFF;
}

.foot li {
    line-height: 26px;
}